<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>

  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label>
                Auto Manufacturers
              </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Cord</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Duesenberg</ion-label>
              <ion-radio value="duesenberg"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Hudson</ion-label>
              <ion-radio value="hudson"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Packard</ion-label>
              <ion-radio value="packard"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Studebaker</ion-label>
              <ion-radio value="studebaker"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label>
                Rainbow Manufacturers
              </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Green</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Blue</ion-label>
              <ion-radio value="packard"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Red</ion-label>
              <ion-radio value="studebaker"></ion-radio>
            </ion-item>
          </ion-radio-group>

        </ion-list>
      </ion-slide>

      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="footerSwipe">
      slide <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
  </ion-toolbar>
</ion-footer>

